//localhost:8081/repository/npm-group-repo/:_authToken=NpmToken.e53589d6-ee53-3352-8f3b-9e84bbcec257       
//localhost:8081/repository/npm-hosted-repo/:_authToken=NpmToken.e53589d6-ee53-3352-8f3b-9e84bbcec257 